@import url(./css/style.css);
@import url(./css/reset.css);

$blue: #5095ec;
$black: #505050;
$second_tx: #8f8f8f;
$grey: #d3d8de;
$bg: #f1f1f1;
$white: #ffffff;
$bg2: #fafafa;

$font-stack: "Roboto", sans-serif;

.main-map {
    background-color: $white;
    width: 100%;
    height: 100%;
}

.map-heading,
.timer-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $black;
}

.main-timer {
    background-color: $white;
    width: 100%;
    height: 100%;
}

.accordion-map,
.accordion-timer {
    margin-top: 32px;
}

.upload-btn {
    background-image: url(./img/icons/Update.svg);
    width: 24px !important;
    height: 24px !important;
    transform: rotate(180deg) !important;
}

.close-btn {
    background-image: url(./img/icons/Close.svg);
    width: 24px !important;
    height: 24px !important;
}

.map-header,
.timer-header {
    display: flex !important;
    align-items: center !important;
    padding-right: 32px;
    column-gap: 8px;
}

.map-accordion-button,
.timer-accordion-button {
    box-shadow: unset !important;
    padding-top: 18px !important;
    padding-left: 32px !important;
    padding-bottom: 18px !important;
    padding-right: unset !important;
}

#map {
    padding: 0 32px 32px 32px !important;
    width: 100% !important;
    height: 480px !important;
}

#timers {
    width: 100% !important;
    // height: 480px !important;
    padding: 0 32px 32px 32px !important;
}

#timer {
    margin-bottom: unset !important;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin-top: 16px;
}
