@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url(./reset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue: #5095ec;
$black: #505050;
$second_tx: #8f8f8f;
$grey: #d3d8de;
$bg: #f1f1f1;
$white: #ffffff;
$bg2: #fafafa;

$font-stack: "Roboto", sans-serif;

$accordion-body-padding-y: unset;
$accordion-body-padding-x: unset;

body {
    font-family: $font-stack !important;
    color: $black !important;
    background-color: $bg !important;
}

.container {
    max-width: 1376px !important;
    margin-right: auto;
    margin-left: auto;
    padding: unset !important;
    width: unset !important;
}

.icon {
    width: 24px;
    height: 24px;
}

.save-btn {
    background-color: $blue;
    display: flex;
    padding: 4px 0;
    justify-content: center;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $white;
}

// Header

.user-pages,
.header_nav {
    padding-left: 32px;
    padding-right: 32px;
}
.user-pages {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
}

.page {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.page__heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}

.user-pages__nav {
    display: flex;
    column-gap: 32px;
}

.user-pages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    font-size: 14px;
}

.user-pages__item span,
.header_nav__item span {
    line-height: 16px;
}

.user-pages__img {
    width: 24px;
    height: 24px;
}

.header_nav {
    background-color: $bg2;
}

.header_nav__item--active {
    background-color: $bg;
}

.header_nav__right,
.header_nav__left {
    display: flex;
}
.header_nav__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.header_nav__item {
    display: flex;
    column-gap: 8px;
    padding: 10px 16px;
    align-items: center;
}

.header_nav__link {
    text-decoration: none;
    color: inherit;
}

// Main

.main {
    margin-top: 32px;
    margin-bottom: 42px;
    display: flex;
    width: 100%;
    column-gap: 32px;
}

.left-side {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    flex-basis: 78.48%;
}

.main_post {
    padding-top: 56px !important;
    padding-bottom: 32px !important;
}

.main_post,
.post {
    padding: 0 32px;
    background-color: $white;
}

.post {
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.accordion-button::after {
    background-image: url(../img/icons/Chevron_Down.svg) !important;
    width: 24px !important;
    height: 24px !important;
    transform: rotate(180deg) !important;
    background-size: 24px 24px !important;
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/Chevron_Up.svg) !important;
    width: 24px !important;
    height: 24px !important;
    background-size: 24px 24px !important;
    background-position: center;
}

.accordion-body {
    padding: unset !important;
}

.accordion-button:not(.collapsed) {
    background-color: unset !important;
}

.post-heading {
    font-size: 16px !important;
    line-height: 19px !important;
    color: $black;
}

.post__time {
    display: flex !important;
    align-items: center !important;
    column-gap: 8px !important;
    flex-grow: 1;
    justify-content: end;
    margin-right: 16px;
    color: $black;
}

.post__time::before {
    content: "";
    background-image: url(../img/icons/Time.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
.main_pic {
    width: 100%;
}

.comment {
    margin-top: 16px;
}

.commentator {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 14px;
}

.commentator__name {
    color: $blue;
    font-size: 14px;
    line-height: 16px;
}

.comment-text {
    margin-top: 16px;
    padding-left: 8px;
    border-left: 3px solid $grey;
    line-height: 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.comment__date {
    color: $second_tx;
    font-style: italic;
    line-height: 16px;
    font-size: 14px;
}

.comment__date::before {
    content: "–";
    margin-right: 6px;
}

.comment-icons {
    display: flex;
    margin-top: 16px;
    column-gap: 32px;
}
.viewers,
.comments {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.viewer__count,
.comments__count {
    font-size: 16px;
    line-height: 18px;
}

// Aside

.sidebar {
    flex-basis: 21.5%;
    height: 100%;
    position: sticky;
    top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.person {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 50px;
}

.person__name {
    margin-top: 16px;
    font-size: 18px;
    line-height: 21px;
}
.person__specialization {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    color: $second_tx;
}
.person__contacts {
    display: flex;
    margin-top: 16px;
    column-gap: 8px;
}

.sidebar__nav {
    border-bottom: 1px solid $grey;
}

.sidebar__nav-heading {
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

.sidebar__nav-list {
    padding: 16px;
    border-bottom: 1px solid $grey;
}

.sidebar__nav-list,
.sidebar__nav-other {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: $black;
    font-size: 14px;
    line-height: 16px;
}

.sidebar__nav-other {
    padding: 16px;
}

.sidebar__nav-item {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.balance__count,
.balance__count::before {
    font-size: 12px;
    line-height: 14px;
    color: $second_tx;
}

.balance,
.connections,
.events {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.balance__count::before {
    content: "$";
    margin-right: 4px;
}

.rounded-pill {
    border-radius: 8px !important;
    padding: 0 5px !important;
}

.badge {
    font-size: 12px !important;
    line-height: 16px !important;
    color: $white !important;
    background: #e33939 !important;
    font-weight: normal !important;
}

.events .badge {
    background-color: #47b091 !important;
}

.share_your_thoughts {
    flex-grow: 1;
}

.share_your_thoughts-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

.share_your_thoughts-form {
    padding: 8px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.share_your_thoughts-ta {
    min-height: 88px;
    resize: none !important;
    border: 1px solid $grey;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 20px;
    color: $second_tx;
}